*
{
	margin: 0px;
}
.form-container
{
	margin: 10px;

	

}
.bgimg
{
	background-image: url('img/contact_back.jpg');
	background-size:100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 100%; 
	
}
h3
{
	text-align: center;
	text-decoration: none;
}
form{
	margin-top: 100px;
	padding: 80px;
	
	-webkit-box-shadow: 4px 3px 20px 15px rgba(0,0,0,1);
-moz-box-shadow: 4px 3px 20px 15px rgba(0,0,0,1);
box-shadow: 4px 3px 20px 15px rgba(0,0,0,1);
}